/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= requere_tree .
 *= require_self
 */

a {
  text-decoration: none;
}

a.close {
   position: absolute;
   right: 1rem;
   bottom: calc(50% - 9px);
   text-decoration: none;
   color: rgba(0, 0, 0, 0.25);
   font-size: 2rem;
   height: 20px;
   border: 2px solid rgba(0, 0, 0, 0.15);
   line-height: 16px;
   border-radius: 1rem;
   width: 20px;
   text-align: center;
   font-family: inherit;
   transition: all .25s;
}

a.close:hover {
   color: rgba(255, 255, 255, 0.7);
   background: rgba(0, 0, 0, 0.25);
}

.img-circle {
   border-radius: 50%;
}

.profile__img-nav {
   max-height: 30px;
   width: auto;
   max-width: 30px;
}

.profile__img-edit {
   max-height: 150px;
   width: auto;
   max-width: 150px;
}

.profile__img-modal {
   max-height: 200px;
   width: auto;
   max-width: 200px;
}